.title {
  display: inline-block;

  font-family: $montserrat-bold;
  font-size: 2.135625rem;
  color: #00a1eb;
  line-height: 1;

  &::after {
    display: block;
    content: '';

    width: 100%;
    max-width: 80px;
    height: 1px;
    margin-top: 30px;

    background-color: #a1a1a1;
  }
}

.title--white {
  color: #fff;
}

.title--center::after {
  margin: 30px auto 0;
}

.title--right {
  float: right;

  &::after {
    float: right;
  }
}
