@font-face {
	font-family: $montserrat-regular;
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $montserrat-extralight;
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: local('☺'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
       url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $montserrat-bold;
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $hind-regular;
	src: url('../fonts/Hind-Regular.eot');
	src: local('☺'), url('../fonts/Hind-Regular.woff') format('woff'),
       url('../fonts/Hind-Regular.ttf') format('truetype'),
       url('../fonts/Hind-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $hind-bold;
	src: url('../fonts/Hind-Bold.eot');
	src: local('☺'), url('../fonts/Hind-Bold.woff') format('woff'),
       url('../fonts/Hind-Bold.ttf') format('truetype'),
       url('../fonts/Hind-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
