@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/flexboxgrid/css/flexboxgrid.css";

@import "variables";
@import "fonts";
@import "mixins";

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ui
@import "ui/button";
@import "ui/title";

// blocks
@import "blocks/main-nav";
@import "blocks/page-header";
@import "blocks/section";
@import "blocks/banner";
@import "blocks/about";
@import "blocks/range";
@import "blocks/service";
@import "blocks/contact";
@import "blocks/links";
@import "blocks/page-footer";
