// fonts
$montserrat-regular: "Montserrat Regular";
$montserrat-extralight: "Montserrat ExtraLight";
$montserrat-bold: "Montserrat Bold";
$hind-regular: "Hind Regular";
$hind-bold: "Hind Bold";

// breakpoints
$table-width: 768px;
$desktop-width: 1170px;
